.config/pulse/
.config/dconf/
.config/evolution/
.config/goa-1.0/
.config/ibus/
.config/docker/
.config/gnome-session/
.config/user-dirs.*
.config/gtk-*/
.config/nautilus/
.config/systemd/
gnote
**/*.bak
